.section {
  text-align:center;
  font-size: 3em;
}
#navbar {
    overflow: hidden;
    background-color: rgba(44, 255, 139, 0.479);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    border-top: 0;
  }
  #navbar a {
    float: left;
    display: block;
    color: #0904fa;
    text-align: center;
    padding: 14px;
    text-decoration: none;
  }
p {
   font-size: medium; 
   text-align: center;
   margin: 45px;
}
ol {
    font-size: medium;
    margin: 15px 15px 15px 0;
    text-align: left;
}
img {
    max-width: 80px;
}